// Card Type 1
.card-t1 {
  background: $neutral-7;
  padding: 30px 50px;
  border-radius: 9px;
  .num {
    font-weight: bold;
    color: $neutral-5;
    user-select: none;
  }
  h4 {
    font-size: 1.2rem;
    margin: 10px 0;
    a {
      color: $main-blue;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .arrow {
    ion-icon {
      margin-bottom: 0;
      transition: all 0.2s ease-in-out;
      color: $main-blue;
    }
  }
  &:hover {
    h4 {
      a {
        color: $blue-3;
      }
    }
    .arrow {
      ion-icon {
        margin-left: 5px;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

// Card Type 2
.card-t2 {
  position: relative;
  .img {
    z-index: 2;
    .overlay {
      background-color: rgba(17, 23, 61, 0.7);
      transition: all 0.2s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }
  .content {
    z-index: 3;
    position: absolute;
    bottom: 25px;
    text-align: center;
    padding: 0 35px;
    a {
      color: $white;
      text-decoration: none;
      font-weight: bold;
    }
    .title {
      font-size: 1.5rem;
    }
    .categories {
      margin-bottom: 10px;
      display: block;
      a {
        &:first-child {
          margin-right: 30px;
        }
      }
    }
  }

  &:hover {
    .overlay {
      background-color: rgba(17, 23, 61, 0.8);
      transition: all 0.2s ease-in-out;
    }
  }
}

// Card Type 3
.card-t3 {
  background: $neutral-7;
  padding: 40px;
  border-radius: 20px;
  position: relative;
  transition: all 0.2s ease-in-out;
  margin-top: 17px;
  .content {
    h4 {
      font-size: 1.4rem;
    }
  }
  .icon {
    background: $neutral-5;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -16px;
    left: -16px;
    transition: all 0.2s ease-in-out;
    ion-icon {
      margin: 0;
      color: $white;
      font-size: 2rem;
    }
  }
  &:hover {
    background: $neutral-6;
    transition: all 0.2s ease-in-out;
    .icon {
      background-color: $neutral-4;
      transition: all 0.2s ease-in-out;
    }
  }
}

// Card Type 4
.card-t4 {
  .img {
    img {
      height: 400px;
      width: 100%;
      object-fit: cover;
    }
  }
  .content {
    padding: 40px;
    h4 {
      color: $neutral-1;
      font-weight: bold;
    }
    p {
      text-transform: uppercase;
      color: $neutral-5;
      font-weight: bold;
    }
  }
  a {
    text-decoration: none;
  }
  &:hover {
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in-out;
  }
}

// Card Type 5
.card-t5 {
  position: relative;
  .img {
    img {
      height: 400px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .content {
    background: $white;
    width: 80%;
    position: absolute;
    bottom: -45px;
    left: 40px;
    padding: 20px 30px;
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease-in-out;
    h4 {
      color: $neutral-1;
    }
    p {
      color: $neutral-1;
    }
  }
  &:hover {
    .content {
      bottom: 30px;
      transition: all 0.2s ease-in-out;
    }
  }
}
