.custom-control-input {
    &:checked ~ .custom-control-label:before {
        background: $blue-1;
        border-color: $blue-2;
    }
    &:focus ~ .custom-control-label:before {
        -webkit-box-shadow: 0px 0px 0px .2rem rgba(28,36,69,0.26);
        -moz-box-shadow: 0px 0px 0px .2rem rgba(28,36,69,0.26);
        box-shadow: 0px 0px 0px .2rem rgba(28,36,69,0.26);
    }

    
}

.custom-radio {
    .custom-control-input {
        &:disabled:checked ~ .custom-control-label:before {
            background: #e9ecef;
            border: #adb5bd solid 1px;
        }
    }
}